/* ------------
    header 
   ------------
*/
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
}

.header-logo {
  display: flex;
  align-items: center;
}

/* ------------
    header nav 
   ------------
*/
nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 0 1em;
}
