* {
  margin: 0;
  padding: 0;
}

/* ------------
    header 
   ------------
*/
header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 1em 0;
  margin: 0;
}

.header-logo {
  display: flex;
  align-items: center;
}

/* ------------
    header nav 
   ------------
*/
nav ul {
  display: flex;
  align-items: center;
}

nav li {
  margin: 0 1em;
}

/* -------
    main
   -------
*/

main {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
/* main {
  background: url("../Rectangle.svg") top 0 right 0 no-repeat,
    url("../Dots.svg") top right no-repeat;
} */

/*  --------------
      main title
    --------------  
*/

.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-title {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  gap: 0.5em;

  margin-top: 80px;
}

.sub-title-grid {
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 1fr;

  text-align: center;
}

.text-circle-shadow {
  grid-row: 2;
  grid-column: 1 / span 3;

  width: 12em;
  height: 100%;
}

.main-title h2 {
  margin-top: 10px;
}

/* --------------- 
      main grid
   ---------------
*/

.grid-container {
  display: grid;
  grid-template-rows: 120px 222px 222px 82px 32px;
  grid-template-columns: 25% 25% 15% 15% 15%;
  gap: 30px;

  justify-content: center;

  width: 90%;

  margin-top: 50px;
}

.grid-cell {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.left-text-grid {
  grid-row: 1;
}

.green-box {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rigth-text-grid {
  grid-column: 4 / span 2;
  grid-row: 1;

  display: flex;
  align-items: flex-end;
}

.purple-box {
  grid-column: 4;
  grid-row: 2;
}

.light-blue-box {
  grid-column: 5;
  grid-row: 2;
}

.yellow-box {
  grid-column: 1;
  grid-row: 2 / span 2;
}

.yellow-box p {
  margin-top: 50px;
}

.button-grid {
  grid-column: 1;
  grid-row: 4;
}

.pink-box {
  grid-column: 2;
  grid-row: 3 / span 2;
}

.dark-purple-box {
  grid-column: 3 / span 2;
  grid-row: 3 / span 3;
}

.red-box {
  grid-column: 5;
  grid-row: 3;
}

/* ---------
    pricing
   ---------
*/
.pricing {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 100px;
}

.grid-text {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  gap: 0.5em;

  margin-top: 40px;
}

.sub-text-grid {
  display: grid;
  grid-template-rows: 70% 30%;
  grid-template-columns: 1fr;

  text-align: center;
}

.text-yellow-circle-shadow {
  grid-row: 2;
  grid-column: 1 / span 2;

  width: 100%;
  height: 100%;
}

.main-title h2 {
  margin-top: 10px;
}

/* -------
    cards
   ------- 
*/
.cards {
  display: flex;
  justify-content: space-around;

  width: 105%;

  margin-top: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 440px;
  padding: 32px 32px 64px 32px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title span {
  padding: 8px 0px;
}

.card-title .purple-border {
  padding: 8px 16px;
}

.card h3 {
  margin: 16px 0 24px 0px;
}

.card ul li {
  display: flex;
  justify-content: left;
  align-items: center;

  margin-bottom: 0.9em;
}

.card ul li img {
  margin-right: 1em;
}

.card button {
  width: 306px;
  height: 64px;
}

.background-wiggle-image {
  padding: 0px 32px 32px 32px;
  background-image: url("../assets/image/Wiggle.png");
  background-repeat: no-repeat;
  background-position: 0% bottom;
}

.background-wiggle-image .card {
  padding-bottom: 32px;
}
