body {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  color: #2d3436;
}

a {
  text-decoration: none;
}
a:active {
  color: #2d3436;
}

/* ------------
    header 
   ------------
*/
header {
  box-shadow: 0px 2px 4px 1px rgba(38, 50, 56, 0.08);
}

header h3 {
  color: #2d3436;
  font-size: 3em;
}

header button {
  width: 170px;
  height: 64px;

  border-radius: 999px;
  border: none;

  background-color: #2d3436;

  font-size: 1.5em;
}

/* ------------
    header nav 
   ------------
*/
nav li {
  margin: 0 1em;
}

nav ul li::marker {
  color: #fdcb6e;
}

nav ul li:first-child {
  list-style: none;
}

/* -------
    main
   -------
*/

/*  --------------
      main title
    --------------  
*/

.main-title h1 {
  font-size: 6em;
  letter-spacing: -3px;
}

.main-title h2 {
  font-size: 4em;
}

.text-with-white-shadow {
  text-shadow: 0 4px 0 #fff;
}

.text-circle-shadow {
  background-color: rgba(85, 239, 196, 1);
  border-radius: 999px;
}

/* --------------- 
      main grid
   ---------------
*/
.green-box {
  background-color: #00b894;
  font-size: 3em;
}

.yellow-box {
  background-color: #fdcb6e;
}

.yellow-box p {
  margin-top: 50px;
  text-align: center;
  line-height: 32px;
}

.purple-box {
  background-color: #a29bfe;
}

.light-blue-box {
  background-color: blue;
}

.pink-box {
  background-color: #e84393;
}

.dark-purple-box {
  background-color: #6c5ce7;
}

.red-box {
  background-color: #ff7675;
}

.button-grid {
  border: none;
  border-radius: 999px;

  color: #6c5ce7;
  font-size: 2em;
  font-weight: bold;

  box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1),
    0px 16px 32px rgba(38, 50, 56, 0.2);
  background-color: #fff;
}

/* -------------
      text 
   -------------
*/
.text-line-height {
  line-height: 2em;
  font-size: 1.1em;
}

.text-small {
  font-size: 0.8em;
}

.text-bold-white {
  color: white;
  font-weight: bold;
}

.text-bold {
  font-weight: bold;
}

.text-color-purple {
  color: #6c5ce7;
}

.text-color-bold-purple {
  color: #6c5ce7;
}
/*  #55efc4*/

.text-color-pink {
  color: #e84393;
}
