.footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: gray;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .logo {
    max-width: 200px;
    max-height: 70px;
  }
}
