/* -------- 
    Common
   -------- 
*/
body {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  color: #2d3436;
  font-size: 18px;
}

a {
  color: #2d3436;
  text-decoration: none;
}

a:active {
  color: inherit;
}

h1 {
  font-size: 5.5em;
  letter-spacing: -3px;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2.7em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.1em;
}

/* ------------
    header 
   ------------
*/
header {
  background-color: #fff;
  box-shadow: 0px 2px 4px 1px rgba(38, 50, 56, 0.08);
}

.header-menu {
  background-color: #fff;
  border: none;
  margin-right: 1em;
}

.sign-button {
  min-width: 170px;
  min-height: 64px;

  border-radius: 999px;
  border: none;

  font-size: 1.5em;
  background-color: #2d3436;
}

li {
  list-style: none;
}

/* -------
    main
   -------
*/

/*  --------------
      main title
    --------------  
*/

.text-with-white-shadow {
  text-shadow: 0 4px 0 #fff;
}

.text-circle-shadow {
  background-color: rgba(85, 239, 196, 1);
  border-radius: 999px;
}

/* --------------- 
      main grid
   ---------------
*/
.green-box {
  background-color: #00b894;
}

.yellow-box {
  background-color: #fdcb6e;
}

.yellow-box p {
  text-align: center;
}

.purple-box {
  background-color: #a29bfe;
}

.light-blue-box {
  background-color: blue;
}

.pink-box {
  background-color: #e84393;
}

.dark-purple-box {
  background-color: #6c5ce7;
}

.red-box {
  background-color: #ff7675;
}

.button-grid {
  border: none;
  border-radius: 999px;

  color: #6c5ce7;
  background-color: #fff;
  font-size: 1.8em;

  box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1),
    0px 16px 32px rgba(38, 50, 56, 0.2);
}

/* -------------
    price cards
   -------------
*/

.text-yellow-circle-shadow {
  background-color: #fdcb6e;
  border-radius: 999px;
}

.price-card {
  border-radius: 16px;
}

.price-card ul {
  list-style: none;
}

.purple-border {
  padding: 8px 16px;

  border: 1px solid #6c5ce7;
  border-radius: 999px;
}

.background-circle {
  padding: 10px;
  border-radius: 50%;
}

.price-card button {
  border-radius: 16px;
}

.background-grey {
  background-color: #c2c2c2;
}

.background-yellow {
  background-color: #fdcb6e;
}

.background-light-green {
  background-color: #55efc4;
}

.price-card-shadow {
  background-color: white;
  box-shadow: 0px 12px 8px 0px rgba(38, 50, 56, 0.08),
    0px 16px 16px 8px #26323814;
}

.thin-border-gray {
  border: 1px solid #adadad;
  background-color: #fff;
}

.purple-button {
  background-color: #6c5ce7;
  border: none;
  font-size: 1.5em;
}

/* ------
    info
   ------
*/

.background-pink {
  background-color: #e84393;
}

.background-blue {
  background-color: #0984e3;
}

.background-green {
  background-color: #00b894;
}

.background-purple {
  background-color: #6c5ce7;
}

.info-card button {
  border-radius: 16px;
}

/* ---------
    foooter
   --------- 
 */

.grid-cell-icon img:hover {
  background-color: #ffeaa7;
  border-radius: 50%;
}

.grid-cell-footer-info a {
  color: #000;
}

.grid-cell-footer-info a:hover {
  text-decoration: underline;
}

input,
textarea {
  outline: none;
  border-radius: 16px;
  background-color: rgba(194, 194, 194, 0.24);
  padding: 8px 16px;

  font-size: 18px;
}

input:focus,
textarea:focus {
  outline: 1px solid #6c5ce7;
}

input::placeholder {
  color: #2d3436;
}

.input-message::placeholder {
  color: #6c5ce7;
}

.input-name {
  border: none;
  background-image: url("../assets/image/icon-user.png");
  background-repeat: no-repeat;
  background-position: right;
}

.input-mail {
  border: none;
  background-image: url("../assets/image/icon-mail.png");
  background-repeat: no-repeat;
  background-position: right;
}

.input-message {
  border: 1px;
  background-image: url("../assets/image/icon-edit.png");
  background-repeat: no-repeat;
  background-position: right top;
}

footer button {
  border-radius: 16px;
  background-color: #6c5ce7;
  border: none;
  font-size: 1.5em;
}

/* -------------
      text 
   -------------
*/
.text-line-height {
  line-height: 2em;
}

.text-upper-and-letter-space {
  text-transform: uppercase;
  letter-spacing: 2.5px;

  font-size: 0.75rem;
  font-weight: bold;
}

.text-small {
  font-size: 0.8em;
}

.text-bold-white {
  color: white;
  font-weight: bold;
}

.text-white {
  color: white;
}

.text-bold-white {
  font-weight: bold;
  color: white;
}

.text-bold {
  font-weight: bold;
}

.text-color-purple {
  color: #6c5ce7;
}

.text-color-bold-purple {
  color: #6c5ce7;
  font-weight: bold;
}

.text-color-pink {
  color: #e84393;
}

.text-yellow {
  color: #fdcb6e;
}

.text-gray {
  color: #adadad;
}
