@import 'src/styles';

.search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  .search_input {
    font-family: inherit;
  }

  .search_input_dark_mode {
    input {
      color: $color-white;
    }
  }

  .search_input_light_mode {
    input {
      color: $color-black;
    }
  }
}
