@import 'src/styles';

.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;

  height: 500px;

  border: 2px solid $color-black;

  .image {
    width: 100%;
    max-height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .nameDesc {
    padding: 20px;
  }
}
