@import 'src/styles';

.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;

  height: 520px;

  .image {
    width: 100%;
    max-height: 320px;
    box-shadow: 0px 10px 15px -4px $shadow-card;
  }

  .nameDesc {
    padding: 20px;

    h4 {
      margin: 8px 0px;
    }
  }
}
