@import 'src/styles';

.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 10px;
  height: 520px;
  width: 250px;

.image {
    width: 100%;
    height: 320px;
    position: relative;

    .favorite {
      position: absolute;
      right: 0px;
      z-index: 2;
      &:hover {
        z-index: 3;
      }
    }

    img {
      position: relative;
      width: 100%;
      height: 320px;

      z-index: 2;
      &:hover {
        z-index: 1;
      }
    }

    height: 320px;

  }

  .image_light {
    box-shadow: 0px 10px 13px 4px $light-shadow-card;
  }

  .image_dark {
    box-shadow: 0px 0px 18px 8px $dark-shadow-card;
  }

  .nameDesc {
    padding: 20px;

    h4 {
      margin: 8px 0px;
    }
  }
}
