@import 'src/styles';

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex: 0 0 auto;

  padding: 10px 30px 10px 30px;

  .logo {
    max-width: 200px;
    max-height: 70px;
  }

  .tollbarBottoms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;

    .link {
      color: $color-orange;
      text-decoration: none;
    }

    .link_current {
      color: $color-orange;
      text-decoration: underline;
    }

    .icons_wrapper {
      .icon_active {
        display: flex;
      }
      .icon_non_active {
        display: none;
      }
    }
  }
}

.light {
  background-color: $color-red;
}

.dark {
  background-color: $color-dark-red;
}
