@import 'src/styles';

.flex_wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 30px;

  .card_description {
    max-width: 477px;
    margin-right: 100px;
    width: 100%;

    .image {
      height: 650px;
      margin-bottom: 15px;

      box-shadow: 0px 12px 28px -3px $color-black;
    }
  }

  section,
  h3 {
    margin-bottom: 10px;

    a {
      margin-right: 10px;
      margin-bottom: 10px;
      font-weight: normal;
      text-decoration: underline;
    }
  }
}
